/.vs/ProjectEvaluation/shopmvc.metadata.v5.1
/.vs/ProjectEvaluation/shopmvc.projects.v5.1
/.vs/ProjectEvaluation/shopmvc.projects.v5.1
/.vs/ProjectEvaluation/shopmvc.metadata.v5.1
/.vs/ProjectEvaluation/shopmvc.projects.v5.1
/.vs/ShopMVC/DesignTimeBuild/.dtbcache.v2
/.vs/ShopMVC/FileContentIndex/03ecbeaf-e3ae-4219-be90-f3e5c6382201.vsidx
/.vs/ShopMVC/FileContentIndex/3de2a7c5-e32a-4932-b8dc-06e655b66bbf.vsidx
/.vs/ShopMVC/FileContentIndex/4bb5e124-e20f-4027-980a-2fe484a92795.vsidx
/.vs/ShopMVC/FileContentIndex/8d442a7d-8b33-4a8c-b070-8c0b08e7c3d9.vsidx
/.vs/ShopMVC/FileContentIndex/aabf64ff-4bad-4e09-b37d-c87e5f3506a2.vsidx
/.vs/ShopMVC/FileContentIndex/bb610fe3-c0e8-4b71-973f-634eb5380485.vsidx
/.vs/ShopMVC/FileContentIndex/d8917b76-9a94-49f0-b0b1-58fbe902406d.vsidx
/.vs/ShopMVC/FileContentIndex/efe9f3c9-7bd3-43f4-afd0-52590db8627d.vsidx
/.vs/ShopMVC/v17/.futdcache.v2
/.vs/ShopMVC/v17/.suo
/ShopMVC.Application/bin/Debug/net6.0/ShopMVC.Application.dll
/ShopMVC.Application/bin/Debug/net6.0/ShopMVC.Application.pdb
/ShopMVC.Application/bin/Debug/net6.0/ShopMVC.Domain.dll
/ShopMVC.Application/bin/Debug/net6.0/ShopMVC.Domain.pdb
/ShopMVC.Application/obj/Debug/net6.0/ShopMVC.Application.csproj.AssemblyReference.cache
/ShopMVC.Application/obj/Debug/net6.0/ShopMVC.Application.dll
/ShopMVC.Application/obj/Debug/net6.0/ShopMVC.Application.pdb
/ShopMVC.Infrastructure/bin/Debug/net6.0/ShopMVC.Domain.dll
/ShopMVC.Infrastructure/bin/Debug/net6.0/ShopMVC.Domain.pdb
/ShopMVC.Infrastructure/bin/Debug/net6.0/ShopMVC.Infrastructure.deps.json
/ShopMVC.Infrastructure/bin/Debug/net6.0/ShopMVC.Infrastructure.dll
/ShopMVC.Infrastructure/bin/Debug/net6.0/ShopMVC.Infrastructure.pdb
/ShopMVC.Infrastructure/obj/Debug/net6.0/ref/ShopMVC.Infrastructure.dll
/ShopMVC.Infrastructure/obj/Debug/net6.0/refint/ShopMVC.Infrastructure.dll
/ShopMVC.Infrastructure/obj/Debug/net6.0/ShopMVC.Infrastructure.csproj.AssemblyReference.cache
/ShopMVC.Infrastructure/obj/Debug/net6.0/ShopMVC.Infrastructure.csproj.CoreCompileInputs.cache
/ShopMVC.Infrastructure/obj/Debug/net6.0/ShopMVC.Infrastructure.csproj.FileListAbsolute.txt
/ShopMVC.Infrastructure/obj/Debug/net6.0/ShopMVC.Infrastructure.dll
/ShopMVC.Infrastructure/obj/Debug/net6.0/ShopMVC.Infrastructure.pdb
/ShopMVC.Test/obj/Debug/net6.0/ShopMVC.Test.csproj.AssemblyReference.cache
/ShopMVC/appsettings.json
/ShopMVC/bin/Debug/net6.0/appsettings.json
/ShopMVC/bin/Debug/net6.0/ShopMVC.Application.dll
/ShopMVC/bin/Debug/net6.0/ShopMVC.Application.pdb
/ShopMVC/bin/Debug/net6.0/ShopMVC.deps.json
/ShopMVC/bin/Debug/net6.0/ShopMVC.dll
/ShopMVC/bin/Debug/net6.0/ShopMVC.Domain.dll
/ShopMVC/bin/Debug/net6.0/ShopMVC.Domain.pdb
/ShopMVC/bin/Debug/net6.0/ShopMVC.Infrastructure.dll
/ShopMVC/bin/Debug/net6.0/ShopMVC.Infrastructure.pdb
/ShopMVC/bin/Debug/net6.0/ShopMVC.pdb
/ShopMVC/obj/Debug/net6.0/ShopMVC.csproj.AssemblyReference.cache
/ShopMVC/obj/Debug/net6.0/ShopMVC.csproj.FileListAbsolute.txt
/ShopMVC/obj/Debug/net6.0/ShopMVC.dll
/ShopMVC/obj/Debug/net6.0/ShopMVC.pdb
/ShopMVC/obj/staticwebassets.pack.sentinel
